@import url('/master.css');


* {
    box-sizing: border-box;
}

.header-container {
    background-color: #97b2db;
}

.hero-container {
    color: white;
    width: 100%;
    height: calc(100vh - 140px);
    background-color: #5c5551;
    padding: 100px 10%;
}

.title-container {
    font-size: 70px;
    display: flex;
    gap: 50px;
}

.hero-content {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}


footer{
    background-color: #97b2db;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 70px;
}

.biography-content {
    width: 100%;
    height: 100%;
}

.video-grid {
    display: grid;
    min-height: 70vh;
    grid-template-columns: repeat(auto-fit, minmax(150px, 600px));
    justify-content: center;
}

.video-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-item iframe {
    width: 75%;
    height: 60%;
}