@import url('/master.css');


*{
    box-sizing: border-box;
}
.header-container {
    background-color: #a29a00;;
}

.hero-container {
    color: white;
    width: 100%;
    height: calc(100vh - 140px);
    background-color: #5c5551;
    padding: 100px 10%;
}

.title-container {
    font-size: 90px;
}

.hero-content {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
}

.repertoire {
    display: flex;
    width: 100%;
    height: 100%;
}

.rep-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    justify-content: space-around;
    align-items: left;
}

.rep-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    justify-content: space-around;
    align-items: left;
}

footer{
    background-color: #a29a00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 70px;
}

/* 
@media screen and (min-width: 1800px) {
    .hero-container {
        height: calc(100vh - 140px);
        background-color: #5c5551;

    }

    .biography-content {
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 1800px) {
    .hero-container {
        height: calc(100vh - 140px);
        background-color: #5c5551;

    }
    .title-container{
        font-size: 70px;
    }
    .biography-content {
        margin-top: 30px;
        font-size: 22px;
    } 
    .image-content p {
        text-align: end;
        margin-bottom: 5px;
        font-size: 18px;
    }
}


@media screen and (max-width: 1550px) {
    .title-container{
        font-size: 60px;
    }
    .biography-content {
        margin-top: 30px;
        font-size: 21px;
    }    
    .image-content p {
        text-align: end;
        margin-bottom: 5px;
        font-size: 17px;
    }
}

@media screen and (max-width: 1350px) {
    .title-container{
        font-size: 60px;
    }
    .biography-content {
        font-size: 20px;
    }    
    .image-content p {
        text-align: end;
        margin-bottom: 5px;
        font-size: 17px;
    }
    .image-content #profile-img {
        padding-top: 30px;
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 1250px) {
    .title-container{
        font-size: 60px;
    }
    .biography-content {
        font-size: 18px;
    }    
    .image-content p {
        text-align: end;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .image-content #profile-img {
        padding-top: 30px;
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .title-container{
        font-size: 60px;
    }
    .biography-content {
        font-size: 16px;
    }    
    .image-content p {
        text-align: end;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .image-content #profile-img {
        padding-top: 30px;
        width: 250px;
        height: auto;
    }

    .education img {
        width: 40px;
        height: auto;
    }
}


@media screen and (max-width: 860px) {

} */
